

/**
 * Computed language
 */

$columns : $column + $pluralSuffix;
$rows : $row + $pluralSuffix;
$elements : $element + $pluralSuffix;
$margins : $margin + $pluralSuffix;



///////////
// Grids //
///////////

$grids : (10, 12, 16) !default;



/////////////////
// Breakpoints //
/////////////////

/**
 * gridBreakpoints
 *
 * Media-queries breakpoints
 * 
 * @type {map} 
    (
        "breakpointName": "media-query rule"
    )
 */
$gridBreakpoints : (

    "smartphones"   : "all and (max-width: 767px)",
    "tablets"       : "all and (min-width: 767px) and (max-width: 991px)",
    "mediumScreens" : "all and (min-width: 992px) and (max-width: 1199px)",
    "bigScreens"    : "all and (min-width: 1200px)"

) !default;
