$grid                   : grid;
$gridPrefix             : a;

$column                 : column;
$row                    : row;

$element                : element;
$elementPrefix          : an;

$margin                 : margin;
$marginPrefix           : a;

$pluralPrefix           : "";
$pluralSuffix           : s;

$at                     : at;
$of                     : of;
$with                   : with;
$from                   : from;
$to                     : to;
$in                     : in;

$top                    : top;
$bottom                 : bottom;
$left                   : left;
$right                  : right;

$horizontally           : horizontally;
$vertically             : vertically;

$atStart                : atstart;
$atEnd                  : atend;

$onBaseline             : onbaseline;

$aligned                : aligned;
$centered               : centered;
$justified              : justified;
$spaced                 : spaced;

$max                    : max;
$full                   : full;

$height                 : height;

$first                  : first;

$displayed              : displayed; 
$hidden                 : hidden; 