
//////////////
// Language //
//////////////

//French

$grid                   : grille;
$gridPrefix             : une;

$column                 : colonne;
$row                    : ligne;

$element                : element;
$elementPrefix          : un;

$margin                 : marge;
$marginPrefix           : une;

$pluralPrefix           : des;
$pluralSuffix           : s;

$at                     : a;
$of                     : de;
$with                   : avec;
$from                   : de;
$to                     : en;
$in                     : en;

$top                    : haut;
$bottom                 : bas;
$left                   : gauche;
$right                  : droite;

$horizontally           : horizontalement;
$vertically             : verticalement;

$atStart                : audebut;
$atEnd                  : alafin;

$onBaseline             : surletexte;

$aligned                : aligne;
$centered               : centre;
$justified              : justifie;
$spaced                 : espace;

$max                    : maximum;
$full                   : pleine;

$height                 : taille;

$first                  : premier;

$displayed              : visible; 
$hidden                 : cache; 