
//////////////
// Language //
//////////////

//Pro english

$grid                   : g;
$gridPrefix             : "";

$column                 : c;
$row                    : r;

$element                : e;
$elementPrefix          : "";

$margin                 : m;
$marginPrefix           : "";

$pluralPrefix           : "";
$pluralSuffix           : "";

$at                     : "";
$of                     : "";
$with                   : "";
$from                   : f;
$to                     : to;
$in                     : "";

$top                    : t;
$bottom                 : b;
$left                   : l;
$right                  : r;

$horizontally           : h;
$vertically             : v;

$atStart                : start;
$atEnd                  : end;

$onBaseline             : baseline;

$aligned                : aligned;
$centered               : centered;
$justified              : justified;
$spaced                 : spaced;

$max                    : max;
$full                   : full;

$height                 : height;

$first                  : first;

$displayed              : display; 
$hidden                 : hidden; 



/////////////////
// Breakpoints //
/////////////////

$gridBreakpoints : (

    "xs" "all and (max-width: 767px)",
    "sm" "all and (min-width: 767px) and (max-width: 991px)",
    "md" "all and (min-width: 992px) and (max-width: 1199px)",
    "lg" "all and (min-width: 1200px)"

)